body {
	background-color: black;
	
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center
	
}
.runes{
	opacity: 0.5;
}

h1{

	font-family: "Lucida Console", "Courier New", monospace;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  word-break: break-all;
  white-space: normal;
}

.Beye{
	image : "Leye.jpg";
	position: fixed;
  height: 500px;
  width: 500px;
  margin: 24px 0 0 300px;
  animation: glitch 1s infinite;
}

.Feye{
	image : "Reye.jpg";
	position: fixed;
  height: 400px;
  width: 400px;
  margin: 400px 0 0 -800px;
  animation: rotate 2s infinite;
}

.Leye {
		image : "Leye.jpg";
    position: fixed;
    height: 100px;
    width: 100px;
    margin: 24px 0 0 -130px;
    animation: updown 7s ease infinite;
}

.Reye {
		image : "Reye.jpg";
    position: fixed;
    height: 100px;
    width: 100px;
    margin: 24px 0 0 800px;
    animation: updown 5s ease infinite;
}

img:hover{
   animation: rotate 1s linear;
}

/*h1:hover{
   animation: wiggle 1s infinite;
}
*/
@keyframes updown {
  0% {
    transform: translateY(-80%);
  }

  50% {
    transform: translateY(80%);
  }

  100% {
    transform: translateY(-80%);
  }
}


@keyframes glitch{

	0% {
    transform: translateX(-0.5%);
  }
  50% {
    transform: translateX(0.5%);
  }
  100% {
    transform: translateX(-0.5%);
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(5deg);
  }

	20% {
	    transform: rotate(0deg);
	  }

	30% {
	    transform: rotate(5deg);
	  }

	40% {
	    transform: rotate(0deg);
	  }

	50% {
	    transform: rotate(5deg);
	  }

  75%{
  	transform:  rotate(0deg);
  }

  80% {
    transform: rotate(5deg);
  }
 100% {
    transform: rotate(0deg);
  }

}